.div--pomodoro {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: 100vh;
	width: 100vw;
	z-index: 10;
	pointer-events: all;
}

.div--top-controls {
	-webkit-backdrop-filter: blur(5px);
	backdrop-filter: blur(5px);
	width: 100vw;
}

.div--bottom-controls {
	-webkit-backdrop-filter: blur(5px);
	backdrop-filter: blur(5px);
	width: 100vw;
}
